<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" style="color:white;">Dijkstra Project</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
<div id="source-destination" style="padding-top: 10px;">
    <form class="source-destination-form">
        <span class="left"> <label for="source" class="navbar-brand">Source:</label>
      <input type="search" ngModel (click)="click('source')" name="source" id="source" class="form-field"
        placeholder="Starting Point" required></span>
        <span class="center"><button type="button" class="btn btn-primary tooltips" data-placement="top"
        data-toggle="tooltip" data-original-title="Edit" (click)="findPath()"><i class="fa fa-location-arrow"> Get
          Direction</i></button></span>
        <span class="right"> <label for="destination" class="navbar-brand">Destination:</label>
      <input type="search" ngModel (click)="click('destination')" name="destination " id="destination"
        class="form-field" placeholder="Destination" required></span>
    </form>
</div>
<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<agm-map [zoom]="3" [latitude]="31.9038" [longitude]="35.2034" ngModel #map>
    <agm-marker *ngFor="let country of countries" [latitude]="country.latitude" [longitude]="country.longitude" [markerClickable]="true" (markerClick)="markerClicked(country,infowindow)">
        <agm-info-window #infowindow>
            <h2>{{country.countryName}}</h2>
        </agm-info-window>
    </agm-marker>
    <agm-polyline [editable]="true">
        <agm-polyline-point *ngFor="let country of path" [latitude]="country.latitude" [longitude]="country.longitude">
        </agm-polyline-point>
    </agm-polyline>
</agm-map>